body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #080800ef;
}

.quiz-container {
    text-align: center;
    padding: 10%;
    background-color: rgb(0, 0, 0);
}

.h1id{
    text-emphasis-color:  white;
}

.question {
    font-size: 24px;
    margin-bottom: 20px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b3d317;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
